h1,h2,p{
    font-family: 'Inter', sans-serif;
}


h1{
    font-size:xx-large;
    color: rgb(222, 222, 222);
}

h2{
    color: rgb(200, 200, 200);
}

p{
    font-size: large;
    color: rgb(171, 171, 171);
}

body{
    width: 70%;
    margin: 5% auto;
    background-color: black;
    background-image: url("transColorful\ copy.png"); 
    background-repeat: no-repeat;
    background-attachment: fixed;
}

section{
    width: 45%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    float: left;
}
.imgbox1{
    width: 60%;
    margin: 0 auto;
}

#scrolly {
    display: flex;
    flex-direction: row;
    height: auto;
    position: relative;
  }
.text-holder {
    backdrop-filter: none;
  }

.graphic{
  position: sticky;
  top: 15%;
  left: 70%;
  height: 500px;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  backdrop-filter: none;
}

